---
---

body {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #eee;
	overflow-x: scroll;
}

.wrapper {
	color: #222;
	display: flex;
	width: 100%;
	font-size: 13rem;
	flex-direction: column;
	flex-wrap: wrap;
}

.social-wrapper {
	display: flex;
	margin: 0 auto;

	i {
		padding-left: 1rem;
	}
}

a {
	color: #607D8B;
	text-decoration: none;
	transition: color .3s;
	-webkit-tap-highlight-color: rgba(96, 125, 139, 0.4);
}

a:hover {
	color: #36474f;
	transition: color .3s;
	border-bottom-style: none;
}

a.nostyling {
	color: inherit;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	border-bottom: 0;
}

a.nostyling:hover {
	color: inherit;
}

i {
	opacity: 0.7;
	transition: opacity .2s;
}

i:hover {
	opacity: 1;
	transition: opacity .2s;
}

.icon-facebook, .icon-facebook-official, .icon-instagram {
	color: #3b5998;
}

.icon-ie {
	color: #00baf0;
}

.icon-opera {
	color: #ff1b2d;
}

.icon-chrome {
	color: #7eaedc;
}

.icon-firefox {
	color: #db5226;
}

.icon-star {
	color: #e9fa55;
}

.icon-android {
	color: #a4c639;
}

.icon-spotify {
	color: #00d166;
}

.icon-twitter {
	color: #55acee;
}

.icon-mail-alt {
	color: #26a69a;
}

.icon-youtube-play {
	color:#e52d27;
}

.icon-github {
	color: #000;
}
