---
---

$font-color: #333;
$accent-color: #607D8B;

body {
	color: $font-color;
	font-family: 'Inconsolata';
	font-weight: 300;
	font-size: 3.2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-size: 7rem;
}

section {
	padding: 10rem 0;
}

p {
	margin: 3rem 0;
}

a {
	color: $accent-color;
	text-decoration: none;
	transition: color .3s;
	-webkit-tap-highlight-color: transparentize($accent-color, .6);

	&:hover {
		color: darken($accent-color, 20%);
		transition: color .3s;
		border-bottom-style: none;
	}
}

a.nostyling {
	color: inherit;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	border-bottom: 0;

	&:hover {
		color: inherit
	}
}

.navbar {
	font-size: 2.5rem;
	text-align: center;
	background-color: #fff;
	padding: 1rem;
	z-index: 2002;
	border-bottom: 1px solid #eee;
}

.docked {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

ul {
	list-style: disc;
	text-align: justify;
	padding-left: 2rem;
}

i {
	padding: 1rem;
	opacity: 0.8;
	font-size: 5rem;
	transition: opacity .2s;
	&:hover {
		opacity: 1;
		transition: opacity .2s;
	}
}

.sik {
	list-style: none;
	padding: 2rem 0 0;

	li {
		display: inline;
		i {
			font-size: 12rem;
			padding: 1rem;
		}
	}
}

.cover {
	background: url(../img/matrix.jpg);
	background-size: cover;
	padding: 10rem 0;
}

.icon-facebook, .icon-facebook-official, .icon-instagram {
	color: #3b5998;
}

.icon-ie {
	color: #00baf0;
}

.icon-opera {
	color: #ff1b2d;
}

.icon-chrome {
	color: #7eaedc;
}

.icon-firefox {
	color: #db5226;
}

.icon-star {
	color: #e9fa55;
}

.icon-android {
	color: #a4c639;
}

.icon-spotify {
	color: #00d166;
}

.icon-twitter {
	color: #55acee;
}

.icon-mail-alt {
	color: #26a69a;
}

.icon-youtube-play {
	color:#e52d27;
}

.icon-github {
	color: #000;
}

.devicons-python {
	color: #4381B3;
}

.devicons-ruby, .devicons-ruby_rough {
	color: #A91501;
}

.devicons-coffeescript {
	color: #28334C;
}

.devicons-haskell {
	color: #666; // muahahahaha
}

.devicons-nodejs {
	color: #90C53F;
}

.devicons-npm {
	color: #CB3837;
}

.devicons-clojure {
	color: #7FD537;
}

.devicons-ubuntu {
	color: #DD4814;
}

.devicons-sass {
	color: #CC6699;
}

.devicons-gulp {
	color: #EB4A4B;
}

.devicons-terminal {
	color: #000;
}

.devicons-linux {
	color: #000;
}

.devicons-html5 {
	color: #e34f26;
}

.devicons-css {
	color: #424242;
}

@media screen and (max-width: 500px) {
	/*.docked {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
	}*/
	.cover {
		background: url(../img/ny.jpg);
	}
	p {
		font-size: 2.5rem;
	}
	ul {
		font-size: 2.5rem;
	}
}
