---
---

body {
  position: relative;
  font-family: 'Ubuntu Mono';
  font-size: 2rem;
  top: 10rem;
  margin-bottom: 5rem;
  color: rgba(0, 0, 0, 0.8);
}

nav {
  margin-top: 2rem;
}

p {
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit
  }
}

p a {
  border-bottom: 1px dotted #2fe7ad;
  transition: color .2s;
  &:hover {
    color: #2fe7ad;
    transition: color .2s;
    border-bottom-style: none;
  }
}

strong {
  font-family: "Fira Mono";
}

i[class^="icon-"] {
  font-size: 150%;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
    transition: opacity .2s;
  }
}

nav a {
  border-bottom: 0;
}

.icon-spotify {
  color: #00d166;
}

.icon-twitter {
  color: #55acee;
}

.icon-mail-alt {
  color: #26a69a;
}

#occupation {
  display: inline-block;
  text-transform: lowercase;
}

.potd {
  border-radius: .2rem;
  height: 25rem;
  width: auto;
  transition: box-shadow .5s;
}

.potd:hover {
  box-shadow: 0px 1.5px 8px 0px rgba(0,0,0,0.75);
  transition: box-shadow .5s;
}

#comics {
  margin: 2rem;
}

#main {
  font-size: 2.1rem;
}