---
---

$primary-font: 'Kreon';
$alt-font: 'Fira Mono';

body {
  position: relative;
  font-family: $primary-font;
  font-size: 2rem;
  top: 10rem;
  margin-bottom: 5rem;
  color: rgba(0, 0, 0, 0.8);
}

strong {
  font-family: $alt-font;
}

p {
  padding: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit
  }
}

p a, .link {
  border-bottom: 1px dotted #2fe7ad;
  transition: color .2s;
  &:hover {
    color: #2fe7ad;
    transition: color .2s;
    border-bottom-style: none;
  }
}

ul {
  list-style: disc;
  padding-left: 2rem;
  padding-top: 1rem;
}

footer {
  color: #616161;
  text-align: center;
}

i[class^="icon-"] {
  font-size: 150%;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
    transition: opacity .2s;
  }
}

nav a {
  border-bottom: 0;
}

.icon-spotify {
  color: #00d166;
}

.icon-twitter {
  color: #55acee;
}

.icon-mail-alt {
  color: #26a69a;
}

.lowered {
  text-transform: lowercase;
}

.potd {
  border-radius: .2rem;
  height: 25rem;
  width: auto;
  transition: box-shadow .5s;
}

.potd:hover {
  box-shadow: 0px 1.5px 8px 0px rgba(0,0,0,0.75);
  transition: box-shadow .5s;
}

#comics {
  margin: 2rem;
}

#typed {
  display: inline-block;
}