---
---

body
  color: #000
  padding: 15% 0
  font-family: 'Ubuntu Mono'
  font-size: 2rem

p
  padding: 3rem 0

a
  text-decoration: none
  color: inherit
  border-bottom: 2px dotted #2fe7ad
  &:hover
    color: inherit
    border-bottom-style: solid

strong
  font-family: "Fira Mono"

#occupation
  display: inline-block
  text-transform: lowercase
