body {
  font-family: 'Iosevka';
  color: #fff;
  font-size: 1.8rem;
  background: linear-gradient(to top left, #041016, #263238);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  display: block;
  margin: 25rem 6rem 4rem 3rem;
  font-size: 3rem;
}

.quote-text::before {
  content: '\201c';
}

.quote-text::after {
  content: '\201d';
}

section {
  margin-top: 20rem;
  margin-bottom: 2rem;
}

.drawer {
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: right;
}

.drawer ul {
  list-style-type: none;
}

.logo {
  width: auto;
  height: 15rem;
  margin-bottom: 5rem;
  filter: invert();
}

a {
  text-decoration:none;
  color: #00bfa5;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: color .2s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

a:hover {
  color: inherit;
  height: 100%;
}

p {
    margin: 1rem 0;
}

p a {
    font-size: inherit;
    letter-spacing: inherit;
    text-transform: none;
}

::selection {
    background: rgba(255,255,255,0.1);
}

@media screen and (max-width: 850px) {
    section {
        margin-top: 0;
    }
    .row {
        margin-top: 10rem;
    }
    .drawer.two.columns.offset-by-two {
        position: static;
        top: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin-left: 0;
        margin-bottom: 10%;
        padding: 0 5%;
    }
    ul {
        width: 100%;
        height: auto;
    }
    ul li {
        display: inline;
    }
    .main.container {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0 20%;
        text-align: justify;
    }
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 550px) {
    .main.container {
        padding: 0 10%;
    }
}

@media screen and (max-width: 350px) {
    .main.container {
        padding: 0 5%;
    }
}

@font-face {
	font-family: 'Iosevka';
	font-weight: 300;
	src: url('assets/iosevka-light.ttf') format('truetype');
}
@font-face {
	font-family: 'Iosevka';
	font-weight: 300;
	font-style: italic;
	src: url('assets/iosevka-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Iosevka';
	src: url('assets/iosevka-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Iosevka';
	font-style: italic;
	src: url('assets/iosevka-italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Iosevka';
	font-weight: 700;
	src: url('assets/iosevka-bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Iosevka';
	font-style: italic;
	font-weight: 700;
	src: url('assets/iosevka-bolditalic.ttf') format('truetype');
}
