.body {
  hyphens: auto;
  color: var(--color-text-body);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

.meta {
  margin-top: 5rem;
  font-size: var(--font-size-tiny);
  color: #cccccc;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--font-primary);
}

.description {
  margin-bottom: 4rem;
  font-size: var(--font-size-body);
}

.footer {
  font-size: var(--font-size-small);
}

.body :global(.footnote-ref) {
  border-bottom: 0;
  color: var(--color-text-light);
}

.body :global(.footnotes) {
  font-family: var(--font-primary);
}

.body :global(.footnotes) li a:not(:global(.footnote-backref)) {
  color: var(--color-text-light);
}

.body :global(.footnotes) li p {
  display: inline;
  margin-bottom: 0;
}

.body :global(.footnote-backref) {
  display: inline;
}
