<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"/>

    <script src="{{ '/assets/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/typed.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/scripts/main.js' | prepend: site.baseurl }}"></script>

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Ubuntu+Mono::latin', 'Fira+Mono::latin' ] }
        };

        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <link rel="stylesheet" href="{{ '/assets/fonts/icons/css/icons.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/normalize.css' | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ '/assets/skeleton.css' | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}"/>
    <link rel="canonical" href="{{ site.baseurl | prepend: site.url }}"/>
</head>
