<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#2fe7ad">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <script src="{{ '/assets/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/googlefonts.js' | prepend: site.baseurl }}"></script>
    <link rel="icon" type="image/png" href="{{ '/assets/icon64.png' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/normalize.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/skeleton/skeleton.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
</head>

