.list {
  font-size: var(--font-size-small);
  list-style-type: none;
  color: var(--color-text-dark);
}

.meta {
  margin-left: 0;
  color: var(--color-text-light);
}

.description {
  color: var(--color-text-light);
}

.link {
  font-weight: 500;
}

.line {
  flex: 1;
  border-top: 1px solid var(--color-highlight);
  margin: 0 1rem;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .post {
    display: block;
  }
  .line {
    display: block;
    visibility: hidden;
  }
}
