.footer {
  margin-top: 5rem;
  border-top: 1px solid #eaeaef;
}

.footerContent {
  padding: 2rem 0;
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-between;
  color: var(--color-text-light);
}

@media screen and (max-width: 500px) {
  .footerContent {
    flex-direction: column;
    justify-content: left;
  }
}
