.footer {
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-between;
  color: var(--color-text-light);
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    justify-content: left;
  }
}
