---
---
<html>
    <head>
        <title>Kabir Goel</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#212121">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="I'm a 14 year old designer, Unix geek and quizzer from New Delhi, India.">

        <link rel="stylesheet" href="/vendor/normalize.css">
        <link rel="stylesheet" href="/vendor/skeleton.css">
        <link rel="stylesheet" href="/styles/style.css">
    </head>

    <body>
        <div class="primary container">
            {{content}}
        </div>
    </body>

    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Overpass:200,400,900">
</html>
