---
---

$base-font-size: 17px;
$font-family: 'Circular', 'Fira Sans', 'Karla', 'Helvetica Neue', 'Segoe UI', 'Ubuntu', 'Cantarell', sans-serif;
$font-color: #03346c;

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin horizontal-padding($amt) {
    padding-left: $amt;
    padding-right: $amt;
}

@mixin vertical-padding($amt) {
    padding-top: $amt;
    padding-bottom: $amt;
}

@mixin horizontal-margin($amt) {
    margin-left: $amt;
    margin-right: $amt;
}

@mixin vertical-margin($amt) {
    margin-top: $amt;
    margin-bottom: $amt;
}

body {
    color: $font-color;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family;
    font-weight: 400;
    font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 7rem;
}

h2 {
    font-weight: 500;
    font-size: 2.2rem;
}

a, a:hover, a:visited {
    color: $font-color;
}

.intro {
    padding-top: 12rem;
    padding-bottom: 20rem;

    background-image: linear-gradient(to top left, #5881e0, #90baf5);

    h1 {
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 2rem;
        width: 50%;
    }

    .social {
        cursor: pointer;
    }

    .social a {
        font-size: 2.5rem;
        margin-right: 2rem;
        text-decoration: none;
    }
}

.primary {
    margin-top: -20rem;
    padding-bottom: 5rem;
}

.projects-projects {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.project {
    box-sizing: border-box;
    position: relative;
    padding: 2rem;
    background-color: #fff;
    width: 20%;
    min-height: 220px;
    border-radius: 1px;
    box-shadow: 0 2px 16px 0 rgba(3, 52, 108, 0.0196);
    border: 1px solid rgba(3, 52, 108, 0.09);
}

.project-name {
    font-weight: 500;
}

.project-desc {
    margin-top: 1rem;
}

.project-link a {
    text-decoration: none;
    margin-right: 1rem;
}

.project-info {
    font-weight: 500;
    position: absolute;
    bottom: 2rem;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
}

.section {
    margin-top: 7rem;

    & > p {
        margin-top: 5px;
    }
}

.footer {
    color: #657a92;
    text-align: center;

    a, a:visited {
        color: inherit;
    }
}

.photo-showcase {
    position: relative;
    background-image: url(/photos/water_puppets.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-overlay {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    display: inline-block;
    background: white;
    padding: 2rem;
}

hr {
    display: block;
    width: 50px;
    border: 0;
    border-top: 2px solid #657a92;
    margin: 1em 0;
    padding: 0;
}

.footer hr {
    margin: 1em auto;
}

@media screen and (max-width: 1300px) {
    .intro p {
        width: 60%;
    }
}

@media screen and (max-width: 1050px) {
    .intro p {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .projects-projects {
        @include horizontal-margin(0);

        width: 100%;
        display: block;
    }

    .project {
        width: 100%;
        margin-bottom: 2rem;
        min-height: 0;
        position: static;

        .project-info {
            position: static;
        }
    }
}

@media screen and (max-width: 890px) {
    .intro p {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .primary {
        margin-top: 0;
    }

    .intro p {
        width: 100%;
    }
}

@font-face {
    font-family: 'Circular';
    font-weight: 400;
    src: url(/vendor/circular/circular-book.otf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    src: url(/vendor/circular/circular-medium.otf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 600;
    src: url(/vendor/circular/circular-black.otf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 400;
    font-style: italic;
    src: url(/vendor/circular/circular-book-italic.otf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    font-style: italic;
    src: url(/vendor/circular/circular-medium-italic.otf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 600;
    font-style: italic;
    src: url(/vendor/circular/circular-black-italic.otf);
}
